body{
    color:white;
    background:black;
    margin:2px;
    font-family: "DM Serif Text", serif;
           
}

header {
    border-bottom: solid 1px #071341;
    margin: 10px;
    font-size: 23px;
    color:white;
}

section{
    background: #040712;
    padding-bottom: 68px;
    padding-top: 68px;
    display: flex;
    justify-content: center;
}

.chamada-texto  {
    margin-right: 5% ;
}
